
body {
    margin: 0;
    padding: 0;
    text-align: center;
    
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

nav {
    height: 44px;
    background-color: rgba(0, 0, 0, 0.8);
}

.menu {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}

.menu ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu ul li {
    list-style: none;
}

.menu ul li,
.menu ul li a {
    color: #ffffff;
    line-height: 44px;
    text-decoration: none;
}

/*****************1ST CONTAINER**************/

.redheader {
    color: rgb(230, 25, 59);
    margin: 30px auto 5px;
}

.bigheader {
    font-size: 6.25rem;
    margin: 10px auto 20px;
}

.smallheader {
    font-size: 30px;
    margin: 5px auto;
}

.myButton {
	background-color:#17a2f3;
	border-radius:28px;
	border:1px solid #3386ca;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin: 20px auto 15px;
}
.myButton:hover {
	background-color:#2a66bf;
}
.myButton:active {
	position:relative;
	top:1px;
}

.informacion {
    color: rgb(0, 113, 227);
    text-decoration: none;   
}

.macbook-hor {
    margin: 100px auto;
}

/**********************MIDDLE CONTAINER*********************/

.middle-container {

}
/**************IMAGE 2***************/
.h3-title {
    margin: 55px auto 15px;
}

.h2-text1 {
    width: 50%;
    margin: 20px auto;
    font-size: 3.25rem;
}

.myButton2 {
	background-color:#17a2f3;
	border-radius:28px;
	border:1px solid #3386ca;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin: 20px auto 116px;
}
.myButton2:hover {
	background-color:#2a66bf;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.middle-container-left {
    margin: 0 20px auto 10px;
    background-color: rgb(242, 242, 242);
    display: inline-block;
    width:40%
}

.img2 {
    width: 100%;
}
 /************************IMAGE 3****************/
.h2-text2 {
    width: 60%;
    margin: 20px auto;
    font-size: 3.25rem;
}

.p-text {
    width: 50%;
    line-height: 2;
    margin: 20px auto;
}

.p-valor {
    color: rgb(0, 113, 227);
}

.btn2 {
    margin: 20 auto 50px;
}


.img3 {
  width: 75%;
}

.middle-container-right {
    margin: 0 10px auto 20px;
    background-color: rgb(242, 242, 242);
    display: inline-block;
    width: 40%;
}

/***********************BOTTOM CONTAINER**************/

.bottom-container {
    margin: 100px auto 0 ;
    width: 35%;

}


.entrega {
    font-size: 20px;
    margin: 10px auto 5px;
}

.entrega-devolucion {
    font-size: 18px;
    margin: 10px auto 5px;
}




/********************FOOTER********************/

.footer {
    
    background-color: rgb(238, 235, 235);
    height: 120px;
    margin: 50px 0 0;
    text-align: left;
}

.internal-foot {
    padding-top: 20px;
    padding-left: 150px;
}

.footer-list {
    display: flex;
    list-style: none;
    color: rgb(179, 179, 179);
    padding-left: 0;
}

.foot {
    font-size: 0.75rem;
    color: rgb(141, 139, 139);
    font-weight: 500;
    padding-left: 10px;
}

.footer-link {
    text-decoration: none;
    font-size: 0.625rem;
    color: rgb(73, 73, 73);
    font-weight: 500;
    padding-right: 10px;
    padding-left: 10px;
}